body {
  color: #444;
  background-color: #fff;

  margin: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#sidepanel {
  background-color: #f1f0d5;

  padding: 20px;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: ;
}

.brand {
  color: #305691;
}

#main {
  padding: 20px;
  margin-left: 300px;
}

.messages-wrapper {
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 300px;
  right: 10px;
  overflow-y: scroll;
}

/* MESSAGES */

.messages {
  min-height: 430px;
  padding: 10px 0;
  width: 100%;
}

.message {
  font-size: 14px;
}

.message-user {
  float: left;
  text-align: right;
  width: 80px;
  background-color: #bed1e9;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;

  border-top: 1px solid #bed1e9;
}

.message-content {
  margin-left: 90px;
  padding: 5px;

  border-top: 1px solid #ccc;
}

.message-form {
  position: absolute;
  bottom: 20px;
}

.message-form input[type=text] {
  width: 600px;
}

/* MESSAGE FEATURES */

.message-img {
  max-width: 300px;
  display: block;
  margin-top: 5px;
}

.message-emoji {
  max-width: 20px;
}

.message-swatch {
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #ccc;
}

/* LINKS */

a, a:visited {
  color: #305691;
  text-decoration: none;
}

a:hover {
  color: #bed1e9;
}

a.delete {
  color: #bb3e47;
  font-size: 12px;
}

a.delete:hover {
  color: #db5e67;
}

/* MISC */

.clear {
  clear: both;
}

.right {
  float: right;
}

.upper {
  text-transform: uppercase;
}
